<div class="card card-sm mb-4">
    <div class="card-body">
        <div class="row align-items-md-center">
            {% if article.cover %}
            <div class="col-md-6 mb-3 mb-md-0">
                <a href="{{ article.get_absolute_url }}">
                    <img class="img-fluid" src="{{ article.cover.url }}" alt="{{ article.title }}">
                </a>
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="ps-md-5">
                    <ul class="list-inline list-separator mb-3">
                        <li class="list-inline-item">
                            <a class="text-cap text-muted mb-0" href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
                        </li>
                        <li class="list-inline-item">
                            <span class="text-cap text-muted mb-0">{{ article.get_updated_display }}</span>
                        </li>
                    </ul>
                    <h3 class="mb-3">
                        <a class="text-dark" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </h3>
                    {{ article.summary|linebreaks }}
                    {# article.content.plain|truncatechars:120 #}
                </div>
            </div>
        </div>
    </div>
</div>